Back-End/.env
Front-End/.env
/Front-End/dist
Moralis-Server-Self-Host/.env
/Moralis-Server-Self-Host/node_modules
/.vscode
/Back-End/img/*
/Moralis-Server-Self-Host/logs
/Back-End/pdf/*
/Moralis-Server-Self-Host/build
*.wav

# Local Netlify folder
.netlify
