Back-End/.env
Front-End/.env
Front-End/package-lock.json
Front-End/_redirects
/Front-End/dist
Moralis-Server-Self-Host/.env
/Moralis-Server-Self-Host/node_modules
/.vscode
/Back-End/img
/Moralis-Server-Self-Host/logs
/Back-End/audio
/Back-End/pdf
/Back-End/audio
/Moralis-Server-Self-Host/build
