body {
    background-color: rgb(43, 33, 86);

}



/* navbar */
.navbar-custom {
    background-color: rgb(43, 33, 86);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color and padding  */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    padding: .75rem 1rem;
}
/* change the color and bg color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: #c5aeae;
}
/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: #463d39;
}
.navbar-custom .dropdown-item {
    color: #ffffff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}
/* change the color of toggler */
.navbar-custom .navbar-toggler {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}